/* USE THESE COLORS (heavier => lighter) : 00A7E1, 1CAFE0, 37B7DF, 6DC6DC, D9E5D6  */
* {
    font-family: 'Yantramanav', sans-serif;
}

body {
    margin: 3em;
}

h2 {
    text-transform: uppercase;
    color: #00A7E1;
}

.blank {
    color: grey;
}

.accent {
    color: black;
}

header {
    color: #00A9E1;
    display: block;
    text-align: center;
    margin-left: 10px;
    font-weight: 400;
    font-size: 2em;
}

.content {
    list-style-type: none;
    line-height: 1.8em;
}

main {
    display: inline-block;
}

.box {
    display: flex;
    border: 5px solid #000;
    width: 100%;
    height: 100vh;
    text-align: center;
}

.display {
    display: inline-block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: auto;
    margin-left: 40px;
    margin-bottom: 2em;
}

.box-item {
    color: white;
    border: 1px solid #000;
    width: auto;
    height: auto;
}

.btn {
    display: inline-block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: auto;
    margin: 20px;
}

.collapsible {
    background-color: #6DC6DC;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 75%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 1em;
    border-radius: 15px;
    font-weight: 400;
  }
  
  .active, .collapsible:hover {
    background-color: #37B7DF;
  }
  
  .collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2212";
  }
  
  .content {
    padding: 0 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    border-radius: 15px;
    width: 70%;
    margin-left: 1.5%;
    font-weight: 300;
  }