/* Default styles for all devices */

:root {
  --font-family: 'Yantramanav', sans-serif;
  --color-accent: black;
  --color-primary: #00A7E1;
  --color-secondary: #6DC6DC;
  --color-secondary-dark: #37B7DF;
  --color-gray: gray;
}

* {
  font-family: var(--font-family);
}

body {
  margin: 3em;
}

h1 {
  margin-right: 10em;
}

h2,
h3 {
  text-transform: uppercase;
  color: var(--color-primary);
}

.propertiesContainer {
  display: flex;
  flex-direction: row;
  align-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.labels {
  margin-left: 2em;
}

label {
  white-space: nowrap;
  }

input[type="radio"] {
  margin-left: 1.5em;
  margin-right: 0.5em;
}

.blank {
  color: var(--color-gray);
}

.accent {
  color: var(--color-accent);
}

header {
  color: var(--color-primary);
  display: block;
  text-align: center;
  margin-left: 10px;
  font-weight: 400;
  font-size: 2em;
}

.content {
  list-style-type: none;
  line-height: 1.8em;
  padding: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  border-radius: 15px;
  width: 70%;
  margin-left: 1.5%;
  font-weight: 300;
}

.main {
  display: inline-block;
}

.box {
  display: flex;
  border: 5px solid black;
  width: 100%;
  height: 100vh;
  text-align: center;
}

.display {
  display: inline-block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: auto;
  margin-left: 40px;
  margin-bottom: 2em;
}

.box-item {
  color: white;
  border: 1px solid black;
  width: auto;
  height: auto;
}

.btn {
  display: inline-block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: auto;
  margin: 20px;
}

.collapsible {
  background-color: var(--color-secondary);
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 75%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 1em;
  border-radius: 15px;
  font-weight: 400;
}

.active,
.collapsible:hover {
  background-color: var(--color-secondary-dark);
}

.collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

  /* media queries for different screen sizes */

  /* Responsive styles */

@media only screen and (max-width: 768px) {

    header {
        font-size: 1.5em;
        margin: 2em;
    }

    .display {
        margin-left: 20px;
        margin-bottom: 1em;
    }

    .content {
        width: 90%;
        margin-left: 5%;
        font-size: 0.9em;
    }

    .collapsible {
        width: 90%;
        font-size: 0.9em;
    }

}

@media only screen and (max-width: 480px) {

    body {
        margin: 1em;
    }

    header {
        font-size: 1.2em;
        margin: 1em;
    }

    .display {
        margin-left: 10px;
        margin-bottom: 0.5em;
    }

    .content {
        width: 90%;
        margin-left: 5%;
        font-size: 0.8em;
    }

    .collapsible {
        width: 90%;
        font-size: 0.8em;
    }

}
